.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    width: 80%;
}

.nav-container {
    background-color: aqua;
    display: flex;
    width: 80%;
    height: 4rem;
    border-radius: 1rem;
    justify-content: space-around;
    align-items: center;
}

.country-button {
    background-color: transparent;
    border: none;
}
